.wrapper {
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border-radius: 1.6rem;
  padding: 1rem 2.6rem;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn_blue {
  background: var(--primary-s);
  border: 0.2rem solid rgba(0, 71, 255, 0.08);
  color: var(--primary);
}

.btn_blue:hover {
  background: var(--primary-m);
}

.btn_red {
  background: var(--error-s);
  border: 0.2rem solid var(--gray-s);
  color: var(--error);
}

.btn_red:hover {
  background: var(--error-m);
}

.btn_gray {
  background: transparent;
  border: 0.2rem solid var(--gray-s);
  color: var(--gray);
}

.btn_gray:hover {
  background: var(--primary-s);
  border: 0.2rem solid rgba(0, 71, 255, 0.08);
  color: var(--primary);
}

.btn:active {
  opacity: 0.8;
}

.btn:disabled {
  background: var(--gray-s);
}
