:root {
  --black: #0d0f43;
  --white: #ffffff;
  --background: #f7f8fa;

  --gray: #4d4d4d;
  --gray-l: #4d4d4d82;
  --gray-s: #e5e5e5;

  --primary: #0047ff;
  --primary-l: #0047ffc7;
  --primary-m: #0047ff26;
  --primary-s: #0047ff14;

  --error: #cc0707;
  --error-l: #cc0707a6;
  --error-m: #ffd8d8;
  --error-s: #ffe7e7;

  --card: #0000000a;
  --card-hover: #0047ff29;

  --border: #f2f2f2;
}
