@use './app/styles/mixins.scss' as *;

.overlay {
  background-color: rgba(61, 61, 60, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  overflow-y: hidden;
  cursor: pointer;
  animation: overlay 0.5s forwards;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  display: block;
  min-width: 40rem;
  max-height: 95vh;
  overflow-y: auto;
  background-color: var(--white);
  box-shadow: 0 0.3rem 1, 6rem 0.1rem var(--card);
  animation: show 0.5s forwards;
  z-index: 11;
  overflow-x: hidden;
  border-radius: 0.8rem;

  &:hover {
    cursor: auto;
  }

  @include media-mobile-width {
    width: 90%;
    min-width: 30rem;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-s);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-l);
    border-top-left-radius: 10rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    border-bottom-left-radius: 10rem;
  }
}

@keyframes show {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
