@use './app/styles/mixins.scss' as *;

.overlay {
  background-color: rgba(61, 61, 60, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  overflow-y: hidden;
  cursor: pointer;
  animation: overlay 0.5s forwards;
  z-index: 10;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 40rem;
  max-height: 95vh;
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  box-shadow: 0 0.3rem 1, 6rem 0.1rem var(--card);
  border-radius: 0.8rem;
  // opacity: 1;
  animation: show 0.5s forwards;
  z-index: 11;

  &:hover {
    cursor: auto;
  }

  @include media-mobile {
    width: 90%;
    min-width: 30rem;
  }
}

@keyframes show {
  0% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0.8);
    // opacity: 0;
  }

  100% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1);
    // opacity: 1;
  }
}
