@use './app/styles/mixins.scss' as *;

.wrapper {
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
  justify-content: center;
}

.modal {
  padding: 2rem;
}

.title {
  @extend %title;
  align-self: flex-start;
}

.blue {
  @extend %btnBlue;
}

.red {
  @extend %btnRed;
}

.gray {
  @extend %btnGray;
}

.inputWrraper {
  @extend %formItem;

  & input {
    @extend %input;
  }

  & textarea {
    @extend %textarea;
    height: 13rem;
  }

  & .fieldError {
    @extend %fieldError;
  }
}

.counter {
  position: absolute;
  position: absolute;
  bottom: 4rem;
  right: 1.4rem;
  font-size: 1.4rem;
  transition: color 0.3s ease-in;
}

.counterLim {
  color: var(--error);
}

.inputError {
  @extend %inputError;
}

.inputError:focus-visible {
  @extend %inputErrorFocus;
}
