@use './app/styles/mixins.scss' as *;

.wrapper {
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
  justify-content: center;
}

.modal {
  padding: 2rem;
}

.title {
  @extend %title;
  align-self: flex-start;
}

.blue {
  @extend %btnBlue;
}

.red {
  @extend %btnRed;
}

.gray {
  @extend %btnGray;
}

.inputWrraper {
  @extend %formItem;

  & input {
    @extend %input;
  }

  & .inputError {
    @extend %fieldError;
  }
}
