@use './app/styles/mixins.scss' as *;

.loader {
  position: fixed;
  background-color: rgba(61, 61, 60, 0.3);
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-size: 2.7rem;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loader.full {
  background-color: #d2defb;
}

.ldsRipple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsRipple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldsRipple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@include media-tablet {
  .loader {
    font-size: 2rem;
  }
}
