.memberWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--gray-s);
  }
}

.icon {
  margin-right: 1rem;
}

.listItem {
  color: var(--gray);
  text-decoration: none;
  display: flex;
  line-height: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1rem;
  cursor: pointer;
}
