@use './app/styles/mixins.scss' as *;

.wrapper {
  @extend %wrapper;
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  margin-bottom: 1rem;
}

.title {
  @extend %title;
  padding: 3rem 0 0;
}

.description {
  color: var(--gray);
  font-size: 1.8rem;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
}

.columnsList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.addButton {
  @extend %addButton;
  width: 30rem;
}

.icon {
  height: 2.4rem;
  width: 2.2rem;
}
