@use 'app/styles/mixins.scss' as *;

.wrapper {
  @extend %wrapper;
}

.formBlock {
  @extend %boxShadow;
  border: none;
  padding: 3.5rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    @extend %title;
    margin: 0;
    line-height: 2.4rem;
    padding-bottom: 3rem;
  }

  & .formItem {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    padding-bottom: 2rem;

    & input {
      padding: 0.5rem 1rem;
      font-size: 2rem;
      width: 30rem;
      border: 0.2rem solid rgba(77, 77, 77, 0.51);
      border-radius: 0.8rem;
    }

    & .fieldError {
      display: block;
      position: absolute;
      bottom: 0;
      color: var(--error);
    }
  }
  & a:hover {
    text-decoration: underline;
  }
  & button {
    @extend %btn;
    @extend %btnBlue;
    margin-top: 2rem;
    margin-bottom: 4.3rem;
  }
}

.inputError {
  border: 0.2rem solid var(--error-l) !important;
}

.inputError:focus-visible {
  outline: 0.05rem solid var(--error-l);
}
