@use './app/styles/mixins.scss' as *;
@import '../../app/styles/index.scss';

.title {
  font-weight: 700;
  font-size: 6.4rem;
}

.main_content {
  display: flex;
  padding: 16.7rem 0;
}

.buttons_wrapper {
  display: flex;
  gap: 1rem;
  padding-top: 4.5rem;
  justify-content: flex-end;
}

.section_one {
  background-color: var(--white);
}
