@use './app/styles/mixins.scss' as *;
@import 'app/styles/global.scss';

.title {
  font-weight: 700;
  font-size: 4.8rem;
}

.title_wrapper {
  max-width: 49.3rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  max-width: 42.2rem;
}

.main_content {
  display: flex;
  padding: 15.85rem 0;
  gap: 10.3rem;
  flex-wrap: wrap;
}

.main_content img {
  height: auto;
  width: 100%;
  max-width: max-content;
}

.section_two {
  background-color: var(--primary-m);
}
