@import '../../app/styles/index.scss';

.header {
  background: var(--white);
  box-shadow: 0 0.4rem 0.4rem rgb(0 0 0 / 4%);
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 140%;
}

.menu__wrapper {
  display: flex;
  align-items: center;
}

.menu__list {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 5rem;
}

.menu__language {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

@include media-tablet {
  .header__wrapper {
    margin: 1.5rem auto 1rem auto;
  }

  .nav__list {
    flex-wrap: wrap;
  }
}

@include media-mobile {
  .logo {
    margin: 1rem 0;
  }
}

@include media-mobile-s {
  .logo {
    font-size: 1rem;
  }
}
