@use './app/styles/mixins.scss' as *;

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  padding: 0.4rem 1.1rem;
  outline-width: 0;
}

.titleDisabled {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: horisontal-text;
  border: none;
  background-color: var(--white);
}

.titleAbled {
  border: none;
  border: 0.1rem solid var(--border);
  box-shadow: 0 0.3rem 1.6rem 0.1rem var(--card);
  border-radius: 0.8rem;
  padding: 0.3rem 1rem;

  &:focus,
  &:focus-visible {
    outline-width: 0;
    border: 0.1rem solid var(--black);
  }
}

.taskTitleWrapper {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding: 1rem 0;
}

.subtitle {
  color: var(--gray);
  cursor: default;
}

.subtitleColumn {
  color: var(--gray);
  margin: 0;
  font-size: 1.4rem;
  padding: 0.6rem 0 0 1rem;
}

.description,
.members,
.labelTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  cursor: default;
}

.heading {
  display: flex;
  background-color: var(--primary-s);
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding: 1rem 2rem;
  justify-content: flex-end;

  @include media-mobile {
    padding: 1rem;
  }
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50rem;
  padding: 0 2rem 2rem 1rem;
  overflow-y: auto;

  @include media-mobile {
    width: 90vw;
  }
}

.taskInfo {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.closeBtn {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 1.8rem;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;

  &::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('../../../assets/images/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    background-color: var(--primary-m);
  }
}

.button {
  @extend %btnRed;
  align-self: flex-end;
}

.list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.label {
  width: min(15%, 7rem);
  height: 3rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 0.3rem var(--gray-l);
  }
}

.select {
  @extend %input;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  cursor: pointer;
}

.member {
  background-color: var(--gray-s);
  width: fit-content;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  color: var(--black);
  cursor: default;
}

.changeWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.changeBtn {
  background-color: transparent;
  padding: 1rem;
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: var(--primary-m);
    cursor: pointer;
  }
}
