@use './app/styles/mixins.scss' as *;

.taskInfo {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.labelTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  cursor: default;
}

.list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.label {
  width: min(15%, 7rem);
  height: 3rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 0.3rem var(--gray-l);
  }
}
