@use 'app/styles/mixins.scss' as *;

.wrapperSearch {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.btnReset {
  @extend %btnBlue;
}

.searchForm {
  & input {
    padding: 0.7rem;
    font-size: 1.6rem;
  }
}
