@use './app/styles/mixins.scss' as *;

.wrapper {
  @extend %wrapper;

  @include media-mobile {
    width: 100%;
  }

  @include media-mobile-s {
    margin-top: -2rem;
  }
}

.btn {
  @extend %btnBlue;
  padding: 1rem 6.6rem;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;

  @include media-tablet {
    font-size: 2.8rem;
    text-align: center;
  }

  @include media-mobile {
    font-size: 2.2rem;
    max-width: 45rem;
    line-height: 2.8rem;
  }

  @include media-mobile-s {
    font-size: 2rem;
    max-width: 30rem;
  }
}

.titleWrapper {
  max-width: 51.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-tablet {
    align-items: center;
  }
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0rem;

  @include media-big-tablet {
    justify-content: center;
    padding: 2rem 0;
  }
}

.img {
  height: auto;
  width: max-content;
  min-width: 0;

  @include media-big-tablet {
    max-width: 50rem;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 1rem;
  padding-top: 4.5rem;
  justify-content: flex-end;

  @include media-big-tablet {
    padding: 2.5rem 0;
  }

  @include media-mobile {
    padding: 1.5rem 0;
  }

  @include media-mobile-s {
    padding: 1.5rem 0 4.5rem 0;
  }
}

.sectionError {
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

@include media-big-tablet {
  .mainContent {
    flex-wrap: wrap;
  }
}
