@use './app/styles/mixins.scss' as *;

.taskInfo {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding-bottom: 5rem;
  padding-left: 1rem;
  position: relative;
}

.members {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  cursor: default;
  margin-bottom: 0;
}

.membersWrapper {
  display: flex;
  margin: 0;
  gap: 1rem;
}

.list {
  position: absolute;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 98%;
  top: 9rem;
  left: 1rem;
  margin: 0;
  padding: 1rem;
  animation: show 0.3s forwards;
  overflow-y: hidden;
  cursor: pointer;

  @extend %boxShadow;

  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-s);
    border-radius: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-l);
    border-radius: 0.6rem;
  }
}

.open {
  height: 25rem;
  overflow-y: scroll;
  border: 0.2rem solid var(--primary);
}

.close {
  height: 6rem;
}

.disabled {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: aquamarine;

  .li {
    opacity: 0.6rem;
  }
}
