@use './app/styles/mixins.scss' as *;

.columnTitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.formError {
  width: 100%;
  color: var(--error);
  font-size: 1.2rem;
  position: absolute;
  bottom: -0.8rem;
  left: 0.5rem;
}

.input {
  max-width: 70%;
  margin: 0.6rem 0.5rem 0.6rem 0rem;
  border: 0.1rem solid var(--border);
  box-shadow: 0 0.3rem 1.6rem 0.1rem var(--card);
  border-radius: 0.8rem;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 0.3rem 1rem;
}

.input:focus {
  outline-width: 0;
  border: 0.1rem solid var(--black);
}

.input.error {
  border: 0.1rem solid var(--error);
}

.columnItem {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 32rem);
  background-color: var(--primary-s);
  width: 30rem;
  padding: 2.5rem 2.5rem 1.6rem;
  border-radius: 0.8rem;
  margin: 0 2.5rem;
}

.titleName {
  width: 100%;
  line-height: 2.5rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.tasksList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden auto;
  padding-right: 1.6rem;
}

.taskItem {
  @extend %cardShadow;
  width: 100%;
  background: var(--white);
}

.addButton {
  @extend %addButton;
  width: 30rem;
}

.taskButton {
  padding: 1.6rem;
  width: 100%;
  margin-top: 1.6rem;
  background: transparent;

  &:hover {
    background: var(--primary-s);
  }
}

.taskTitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
  padding: 1.6rem;
}

.icon {
  height: 2.4rem;
  width: 2.2rem;
}

.columnLine {
  height: 0.6rem;
  border-radius: 7.5rem;
  background-color: var(--primary-m);
  outline: none;
  border: 0;
  margin: 1.1rem 0 1.6rem 0;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
  border-radius: 100%;

  &:hover {
    background: var(--error-m);
  }
}

.buttonEdit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;

  &:hover {
    background: var(--error-m);
  }
}

.buttonEdit.submit {
  &:hover {
    background: var(--primary-m);
  }
}
