@use './app/styles/mixins.scss' as *;

.sectionOne {
  background-color: var(--white);
}

.wrapper {
  @extend %wrapper;
}

.btn {
  @extend %btn;
}

.btnBlue {
  @extend %btnBlue;
}

.title {
  font-weight: 700;
  font-size: 6.4rem;
}

.titleWrapper {
  max-width: 57rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  max-width: 42.2rem;
}

.mainContent {
  display: flex;
  padding: 16.7rem 0;
  justify-content: space-between;
}

.img {
  height: auto;
  width: max-content;
  min-width: 0;
}

.buttonsWrapper {
  display: flex;
  gap: 1rem;
  padding-top: 4.5rem;
  justify-content: flex-end;
}

@include media-big-tablet {
  .mainContent {
    flex-wrap: wrap;
  }
}
